[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Kernel tree for Redmi Note 9 ( Pro/S/Pro Max)
[access "refs/*"]
	owner = group user/Mohamed Arshad  (MArshadR)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mohamed Arshad  (MArshadR)
	label-Verified = -1..+1 group user/Mohamed Arshad  (MArshadR)
	push = group user/Mohamed Arshad  (MArshadR)
	read = group user/Mohamed Arshad  (MArshadR)
	rebase = group user/Mohamed Arshad  (MArshadR)
	removeReviewer = group user/Mohamed Arshad  (MArshadR)
	submit = group user/Mohamed Arshad  (MArshadR)
[access "refs/heads/*"]
	create = group user/Mohamed Arshad  (MArshadR)
	push = +force group user/Mohamed Arshad  (MArshadR)
	pushMerge = group user/Mohamed Arshad  (MArshadR)
	read = group user/Mohamed Arshad  (MArshadR)
[access "refs/tags/*"]
	push = group user/Mohamed Arshad  (MArshadR)
	push = +force group user/Mohamed Arshad  (MArshadR)
